# Ignore everything
*
# But not these files...
!*.c
!*.cpp
!*.h
!*.hpp
!*.md
!*.txt
!*.sh
!*.py
!Makefile
!CMakeLists.txt
!.gitignore
# Do not ignore directories
!*/
# Specifically ignore the internal directory
internal/others/
